/* font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style
========================== */

.text-grey {
    color: #727272;
    font-weight: 400;

}
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* ================
header section
======== */
.header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 230px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}


.nav a {
    text-decoration: none;
    color: #424242;
}

nav ul {

    display: flex;
    justify-content: space-between;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.banner {
    padding-top: 100px;
    text-align: center;
    margin: 0 auto;
}

.banner-content {
    max-width: 800px;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 50px;
}



.btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.banner img {
    width: 100%;
}

/* =====================
main part
=================== */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* feature section
====================== */

.feature {
    display: flex;
    align-items: center;
    padding: 50px 200px;
}

.feature div {
    width: 50%;
}

.feature img,
.feature-info {
    width: 100%;
}

.feature-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.feature-info {
    padding-right: 70px;
    padding-left: 70px;
}

.feat-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
}

.span1 {
    color: #727272;
    font-weight: 500;
}

.span2 {
    color: #FF900E;
}



/* ===================
responsive style
==================== */
/* mobile device */
@media screen and (max-width:576px) {
    .header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
        row-gap: 20px;
    }

    .feature {
        flex-direction: column;
        padding: 20px;
    }

    .feature div{
        width: 100%;
        text-align: center;
    }
    .feature-photos {
        gap: 20px;
        grid-template-columns: 1fr;
    }

    .feature-photos img {
        width: 100%;
    }
    .feature-info {
        padding: 0px;

    }
}

/* medium device */
@media screen and (min-width: 577px) and (max-width:992px) {
    .header {
        padding: 50px;
        padding-bottom: 10px;
    }

    .banner {
        padding-top: 20px;
    }

    .banner-content {
        padding: 50px;
        padding-bottom: 0px;
    }

    nav {
        flex-direction: column;
        row-gap: 20px;
    }
    .feature {
        flex-direction: column;
        padding: 50px;
        padding-bottom: 0px;
        gap: 50px;
    }

    .feature div{
        width: 100%;
        text-align: center;
    }
    .feature-photos {
        gap: 20px;
    }

    .feature-photos img {
        width: 100%;
    }
    .feature-info {
        padding: 0px;

    }
}